<div class="sidebar">
    <div class="logo">
        <img src="https://cdn.shopify.com/s/files/1/0684/0907/files/LAMUSEE__LOGO_NOIR.png" alt="logo">
    </div>
    <ul class="menu">
        <li>
            <a class="btn btn-default" href="{{ path('app_users') }}">Liste des utilisateurs</a>
        </li>
        <li>
            <a class="btn btn-default" href="{{ path('app_devis') }}">Liste des devis</a>
        </li>
    </ul>
    <a href="{{path('log_out')}}"> <button class="button">Déconnection</button></a>
</div>
