{% extends 'base.html.twig' %}

{% block title %}Accès non autorisé{% endblock %}

{% block body %}
    <h1>Accès non autorisé</h1>
    <p>Vous n'avez pas les droits nécessaires pour accéder à cette page.</p>
{% endblock %}